---
import logo from '../../public/favicon.svg'
---
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <input type="checkbox" id="menu" class="container-botao">
    <label for="menu" class="container-label">
        <span id="burguer" class="material-icons">menu</span>
    </label>
    <div class="slider">
        <div class="slider-header">
            <input type="checkbox" id="menu" class="container-botao">
            <label for="menu" class="container-label">
                <span id="burguer" class="material-icons">menu</span>
            </label>
            <img src="/public/favicon.svg" class="logo">
        </div>
        <ul class="lista-menu">
            <li class="lista-menu-titulo">Categorias</li>
            <li class="lista-menu-item">
                <a href="#" class="lista-menu-link">Home</a>
            </li>
            <li class="lista-menu-item">
                <a href="#servicos" class="lista-menu-link">Volumes</a>
            </li>
            <li class="lista-menu-item">
                <a href="./about.html" class="lista-menu-link">About berserk</a>
            </li>
            <li class="lista-menu-item">
                <a href="./contact.html" class="lista-menu-link">Contact</a>
            </li>
        </ul>
    </div>
    <div class="logo-container">
        <img src="../../public/Layer_1.png" class="logo">
        <div class="titulos-container">
            <span class="subtitulo-header">Momin</span>
            <p class="titulo-header">Graphics</p>
        </div>
    </div>
    <ul class="lista-menu-desktop">
        <li class="lista-menu-item">
            <a href="#" class="lista-menu-link">Home</a>
        </li>
        <li class="lista-menu-item">
            <a href="#servicos" class="lista-menu-link">About Me</a>
        </li>
        <li class="lista-menu-item">
            <a href="./about.html" class="lista-menu-link">Services</a>
        </li>
        <li class="lista-menu-item">
            <a href="./contact.html" class="lista-menu-link">Projects</a>
        </li>
        <li class="lista-menu-item">
            <a href="./contact.html" class="lista-menu-link">Testimonials</a>
        </li>
        <li class="lista-menu-item">
            <a href="./contact.html" class="lista-menu-link">Contact</a>
        </li>
    </ul>
</div>

<style>

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--background-color);
    margin-top: -3rem;
}

.logo-container {
   display: flex;
   flex-direction: row; 
}

.container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.container-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span#burguer {
    margin-top: 8px;
    color: var(--secondary-color);
    font-size: 36px;
}

.container-botao:checked~.container-label>span#burguer {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.divider {
    margin: 8px 0;
    width: 1px;
    background-color: var(--secondary-color);
}

.logo {
    margin-top: 0.5rem;
    width: 58px;
    height: 35px;
}

.titulo-header {
    padding: 0;
    margin: 0rem 0 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.7rem;
    color: #A459D1;

}

.subtitulo-header {
    margin:0;
    font-weight: 400;
    font-size: 12px;
    color: #2CD3E1;
}

.container-botao {
    display: none;
}

.lista-menu {
    list-style-type: none;
    padding: 0;
}

.lista-menu-link {

    text-decoration: none;
    font-size: 0.9rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.container-botao:checked~.slider {

    translate: 0;
}

.lista-menu-titulo,
.lista-menu-item {
    padding: 0.5rem;
    background-color: var(--background-color);
}

.lista-menu-titulo {
    color: var(--accent-color);
    font-weight: 700;
}

.slider {

    position: absolute;
    transition: translate var(--slider-animation-timing);
    translate: -170%;
    padding: 0;
    z-index: 2;
    top: -8.5%;
    list-style-type: none;
    width: 16rem;
    height: 100vh;
    background-color: var(--primary-color);
    box-shadow: 1px 0px;
}

.slider-header {
    display: flex;
    gap: 0.5rem;
    margin-top: 4rem;
}

.titulo-header-slider {
    padding: 0;
    margin: 1rem 0 0 0;
    font-weight: 700;
    font-size: 15px;
    color: var(--primary-color);

}

.subtitulo-header-slider {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    color: var(--accent-color);
}

.lista-menu-desktop {
    display: none;
}
.link-sociais{
    text-decoration: none;
    color: var(--secondary-color);
   
}

.icones-sociais {
    margin-top: 0.5rem;
    width: 1rem;
    fill: var(--secondary-color);
}

.titulos-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.4rem;
    margin-top: 0.5rem;
}

@media screen and (min-width:1024px) {
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content:  flex-start;
        padding: 2rem 9% ;
        gap: 3rem;
    }

    .logo {
        margin-top: 0.8rem;
        width: 70px;
        height: 40px;
    }

    .container-label {
        display: none;
    }

    .lista-menu-desktop {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap:1.5rem;
        align-self: center;
    }

    .cabeçalho {
        padding: 0 1rem;
    }

    .lista-menu-link {
        font-weight: 400;
    }

    .lista-menu-item>.lista-menu-link:hover {
        border-bottom: 2px solid var(--accent-color);
    }

    .icones-sociais {
        padding: 0.5rem 0.2em;
        width: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {

    .logo {
        margin-top: 0.8rem;
        width: 100px;
        height: 60px;
    }
    .titulos-container {
      margin-top: 0.5rem;
    }
    .lista-menu-desktop {
        margin-left: 4rem;
    }
}

@media screen and (max-width: 700px) and (min-width: 400px)  {
    .slider-header {
        margin-top: 5rem;
    }

}

@media screen and (max-width: 1024px) and (min-width: 700px)  {
    .slider-header {
        margin-top: 7rem;
    }
    .lista-menu-desktop {
        margin-top: 0rem;
    }
}
@media screen and (min-width:1024px) and (max-width: 1728px) {
    .lista-menu-desktop {
        margin-top: 0rem;
    }
}
</style>