---
import { Image } from "astro:assets";
import imagem from "/public/favicon.svg";
import Button from "./ButtonMain.astro";
---
<div class="container">
    <div class="textos">
        <p class="text1">Hi I am</p>
        <p class="text2">Momin</p>
        <h1 class="text3"> UI & UX</h1>
        <h1 class="text4"> Designer</h1>
        <p class="p2">Bringing your vision to life with stunning and innovative designs.</p>
        <div class="button-container">
            <Button title="Hire me"/>
        </div>
    </div>
    <div class="imagem">
        <img width="100%"  height="100%" alt="imagem representando design" src="/public/undraw_design_team.svg"/>
    </div>    
</div>

<style>
    .container{
        display:flex;
        flex-direction:row;
        margin-left: 165px;
        padding: 3.125rem 6.25rem 0px 6.25rem;
        justify-content:space-between ;
        font-size: 20px;

    }
    .textos {
        align-self: center;
    }
    .text1{
        color:#FFFFFF;
        margin: 0;
        line-height: 1rem;
    }
    .text2{
        color:#2CD3E1;
        margin: 0;
        font-size: 32px;
        
    }
    .text3,.text4{
        color:#FFFFFF;
        margin: 0;
        font-size: 90px;
        line-height: 4.5rem;
        
        
    }
    .text4 {
       margin-left: 7.5rem;
    }
    .imagem {
        width: 601px;
        height: 601px;
        
    }
    p {
        color: #FFFFFF;
        margin: 0;
    }
    .p2{
        margin-top: 3rem;
        line-height: 2rem;
        font-weight: 100;
    }
    .button-container {
        margin-top: 2rem;
    }
    @media screen and (min-width:1024px) and (max-width: 1728px) {
     
     .container{
        font-size: 16;
     }   
     .imagem {
        width: 500px;
        height: 401px;
        
     }
     .text3,.text4{
        color:#FFFFFF;
        margin: 0;
        font-size: 80px;
        line-height: 4.5rem;  
      }
      .text4 {
       margin-left: 7.5rem;
    }

    .text2{
        font-size: 28px;
        
    }
    .text1{
        font-size: 16px;
    }
     
    
    }
</style>